* {
    margin: 0;
    padding: 0;
}

BODY {
    /*background-image: url("../resources/bg.png");*/
    /*background-size: cover;*/
    background: linear-gradient(#2d89bd, #e0e7f6);
}

.table_blur {
    width: 1150px;
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
}

.table_blur input {
    transform: scale(0.7);
    width: 100%;
}

.table_blur th {
    text-align: center;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    color: white;
    font: bold 14px Arial, Helvetica;
    padding: 10px 15px;
    position: relative;
    background: #444;
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
}

.table_blur th:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
}

.table_blur tr {
    text-align: center;
}

.table_blur tr:nth-child(odd) {
    background: #ebf3f9;
}

.table_blur th:first-child {
    border-left: 1px solid #777777;
    border-bottom: 1px solid #777777;
}

.table_blur th:last-child {
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
}

.table_blur td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
}

.table_blur tbody:hover td {
    text-shadow: none;
}

.table_blur tr:hover {
    background-color: rgba(77, 159, 248, 0.4);
}

.table_blur tbody:hover tr:hover td {
    color: #444444;
    text-shadow: none;
}

#search {
    margin-bottom: 15px;
    margin-top: 15px;
}

.createUser {
    margin-bottom: 5px;
    padding: 20px;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonAdd {
    background: #0186ba linear-gradient(#04acec, #0186ba);
    color: white;
}

#deleteButton {
    background-color: transparent;
    border: none;
    width: inherit;
    height: inherit;
    opacity: 0.7;
}

#deleteButton:hover {
    opacity: 1;
}